.board {
  border: 3px solid black;
  width: 40rem;
  height: 40rem;
}

.row {
  display: flex;
}

.board > .row {
  min-height: calc(100% / 8);
}

.column-eighth {
  width: calc(100% / 8);
}

.square {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.white {
  background-color: white;
}

.square.black {
  background-color: black;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border-width: 3px;
}

.black-piece {
  background-color: rgb(40, 40, 40);
  border-color: red;
}
