.board {
  border: 3px solid black;
  width: 40rem;
  height: 40rem;
}

.row {
  display: flex;
}

.board > .row {
  min-height: calc(100% / 8);
}

.column-eighth {
  width: calc(100% / 8);
}

.square {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.red {
  background-color: rgb(172, 22, 22);
}

.square.black {
  background-color: black;
}

.piece {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.piece.black {
  background-color: rgb(33, 33, 33);
  border-color: rgb(104, 104, 104);
  color: white;
}

.piece.red {
  border-color: red;
  background-color: rgb(172, 22, 22);
  color: black;
}

.game-over {
  text-align: center;
  background-color: rgb(226, 226, 226);
  border: none;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.button {
  background-color: rebeccapurple;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 10px 5px white;
}

.clickable:hover {
  cursor: pointer;
}
